<h1>Listing meals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>&nbsp;</th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.name %></td>
    <td><%= "#{meal.date}, #{meal.time}"%></td>
    <td><%= link_to 'Show', meal %>|<%= link_to 'Edit', edit_meal_path(meal) %>|<%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal', new_meal_path %>
